.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.blog-item {
  margin: 20px
}

.blog-list {
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.new-blog-container {
  width: 600px;
  height: 500px;
  padding: 20px;
  border: 5px solid rgb(0, 188, 221, 0.5);
  margin: auto;
  align-content: center;
  background-color: rgba(33, 150, 243);
  border-radius: 20px;
}

.MuiFormControl-root {
  font-size:large;
  width: 95%;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
}